@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 5%;
  background-color: #dfe1ee;
}

body .calculadora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  background: #061286;
          box-shadow: 40px 60px 100px #0c148a, -40px -60px 100px #091c58;
}

body .calculadora .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}

body .calculadora .display input {
  width: 80%;
  height: 90%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  color: #FFFBFB;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFBFB;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  border-radius: 30px;
  background: #1d3e92;
  -webkit-box-shadow: inset 7px 7px 14px #15167a, inset -7px -7px 14px #08316e;
          box-shadow: inset 7px 7px 14px #081e7e, inset -7px -7px 14px #094196;
}

body .calculadora .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 400px;
  height: 500px;
  padding: 10px;
  margin: 10px;
}

body .calculadora .botones .button {
  text-align: center;
  width: 65px;
  height: 65px;
  padding: 10px;
  margin: 10px;
  border: none;
  color: #FFFBFB;
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  border-radius: 30px;
  background: #0c217e;
  -webkit-box-shadow: 7px 7px 13px #07317e, -7px -7px 13px #0c1c7a;
          box-shadow: 7px 7px 13px #052f7e, -7px -7px 13px #05248a;
}