*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{
 width:100%;
 background-color: rgb(207, 207, 207);
}

body{
  background-color: rgb(207, 207, 207);
}
.izquierda {
  background-color: rgb(0, 255, 0);
  float: left;
  width: 31%;
}

.izquierda a{
  background-color: rgb(0, 255, 0);
}

.medio{
  background-color:yellow;
  float: left;
  width: 34%;
  margin:0% 2.5% 0% 2.5%;
}

.medio img{
  float: right;
  width: 45%;
  height: auto;
  padding: 0% 0% 0% 2%;
}

.medio p{
  width: 60%;
}

.derecha{
  background-color: gray;
  float: left;
  width: 30%;
}
h1 {
  padding-bottom: 2%;
}

@media screen and (max-width:760px) {

  .izquierda {
    width: 30%;
  }

  .medio{
    float:right;
    width: 64%;
    margin: 0%;
  }
    
  .derecha{
    float:right;
    width: 64%;
  }

  .medio img {
  margin-top: 3%;
  }
}

@media screen and (max-width:420px) {
  .izquierda {
    width: 90%;
  }
  
  .medio{
    float:left;
    width: 90%;
    margin: 0%;
  }
    
  .derecha{
    float:left;
    width: 90%;
  }
  
  .medio img {
    visibility:hidden;
    width: 0%;
  }

  .medio p {
    float:left;
    width: 90%;
    margin: 0%;
  }
}